
/*通用*/
*{
	margin: 0;
	padding: 0;
}
body{
	color: #757575;
	font: 14px/1.5 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #838383;
}
a:hover{
	color: #ff8a00;
}
h2{
	font-size: 30px;
	color: #5d5d5d;
	font-weight: normal;
}
h2+p{
	font-size: 18px;
    color: #979797;
    padding: 15px 0;
}
/*技术*/
#jishu{
	overflow: hidden;
}
.menus1{
	width: 1180px;
	margin: auto;
}
.menus1 li a:hover{
	color: #ff8a00;
}
.menus1 li a:hover+i{
	border-top: #ff8a00  4px solid;
}
.menus1 li{
	cursor: pointer;
	float: left;
	padding-right: 15px;
	margin-right: 50px;
	line-height: 50px;
	position: relative;
}
#header .menus1  li{
	margin-right: 0px;
}
.menus1 li i{
	display: block;
	position: absolute;
    top: 23px;
    right: 0px;
    width: 0;
    height: 0;
    line-height: 0;
    /*border-width: 4px;*/
    border:4px solid transparent;
    border-top: #838383  4px solid;
}
#dianbo{
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}
#wendingfuwu{
	height: 49px;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	display: none;
}
#wending{
	overflow: hidden;
}
.xian{
	width: 100%;
	height: 1px;
	background-color:#ebebeb;
}
#chuangxin {
	position: relative;
	margin: 60px 0;
	height: 530px;
	overflow: hidden;
}

.text11{
	position: absolute;
	left:-600px;
	width: 600px;
	text-align: center;
	opacity: 0.1;
}
.text12{
	position: absolute;
	right:-525px;
	width: 525px;
	opacity: 0.1;
	margin-top: 110px;
}
.text12>h2{
	font-size: 24px;
	color: #565656;
	/*padding-bottom: 20px;*/
}
.text12>p{
	font-size: 16px;
	color: #828282;
	line-height: 40px;
}

/*二*/

#liumei{
	position: relative;
	margin: 60px 0 0 0;
	height: 420px;
	overflow: hidden;
}

.text21{
	position: absolute;
	right:-590px;
	width: 590px;
	opacity: 0.1;
	margin-top: 60px;
}
.text22{
	position: absolute;
	left:-590px;
	width: 590px;
	opacity: 0.1;
	margin-top: 60px;
}
.active1{
	color: #ff8a00;
}
a.active1+i{
	border-top: #ff8a00 4px solid;
}


/*旋转的小图标*/
.textIOS{
	width: 590px;
	/*border: 1px solid;*/
	/*text-align: center;*/
}
.textI{
	width: 360px;
    border-radius: 10px;
    height: 168px;
    font-size: 14px;
    color: #969696;
    padding: 30px;
	margin-left: 85px;
	padding: 30px;
	border: 1px solid #e5e5e5;
	position: relative;
}
.textI2{
	position: absolute;
	top: 30px;
	right:30px;
	width: 167px;
	height: 162px;
	text-align: center;
}
	
.textI span{
	width: 78px;
    height: 80px;
    display: inline-block;
    margin-bottom: 55px;
    background: url(../images/produce/downloadIcon.png) no-repeat;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.text21 span{
	background-position: center -450px;
}
.textI a:hover span{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* Internet Explorer */
	-moz-transform:rotate(360deg); /* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg); /* Opera */
}
